*.iml
/.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
settings.gradle
local.properties
gradlew.bat
gradlew
gradle.properties
build.gradle
